# Кодировка сайта
ServerSignature Off
AddDefaultCharset UTF-8

# Обращение к файлам без расширения
Options -MultiViews

# Запуск движка для переписывания адреса страницы
RewriteEngine On

# Базовый адрес, с которого переписываются файлы
RewriteBase /

# Условия для работы с файлами
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Убирает из url "?url="
RewriteRule ^(.+)$ /index.php?url=$1

# Скрыть вывод ошибок на странице сайта
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off